html, body{
    max-width: 1366px;
    margin: 0;
}
.main-frame{
    /*display: flex;*/
    height: 100%;
}
.left-panel{
    float: left;
    width: 20%;
    height: 100%;
    z-index: 100;
    background-image: url(../images/consuegra-left.jpg);
    background-size:  100% 100%;
    background-repeat: no-repeat;
    /*background-position: -575px 0px;*/
    filter: blur(5px);
}
.middle-panel{
    width: 60%;
    left: 20%;
    position: fixed;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: transparent;
    z-index: 1000;
}
.rigth-panel{
    float: right;
    width: 20%;
    height: 100%;
    z-index: 100;
    background-image: url(../images/consuegra-right.jpg);
    background-size:  100% 100%;
    background-repeat: no-repeat;
    /*background-position: -840px 0px;*/
    filter: blur(5px);
}
