<ion-view title="应用">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="menu in vm.menus track by menu.MenuCode" class="item-icon-right">
                <h2>
                    <a style="text-decoration: none;" 
                        ng-click="openMenu('{{menu.MenuUrl}}')">
                        <img ng-src="data:image/png;base64,{{menu.MenuIcon}}" style="vertical-align:bottom;height:1.2em;padding-right:10px;"/>
                    {{menu.MenuName}}</a>
                </h2>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
