<ion-view title="Wechat TakePhoto Demo" class="stable-bg">
   <style>
      .activated .wx-camera{
         color: red;
      }
   </style>
   <ion-nav-buttons side="right">
      <button class="button button-clear button-icon icon-right ion-ios-eye-outline" ng-click="check()"></button>
   </ion-nav-buttons>
   <ion-content>
      <rt-section rt-title="微信拍照"></rt-section>
      <ion-item>
         <div class="rt-choose-image" ng-click="choosePhotoes()">
            <i style="font-size: 80px;" class="ion-ios-camera-outline wx-camera"></i>
            <!-- <img style="width: 60px;" src="component/img//audio_record.png" /> -->
         </div>
         <div class="rt-thumbnail" ng-repeat="pic in wx.ScenePhotoes">
            <img class="thumbnail" ng-src="{{pic}}" ng-click="previewImage(pic, $index)" />
         </div>
      </ion-item>
      <rt-section ng-if="isVisible" rt-title="照片的ServerId"></rt-section>
      <ion-item ng-if="isVisible">
         <div ng-repeat="sid in wx.ServerId">{{sid}}</div>
      </ion-item>
   </ion-content>
</ion-view>
