.rt-cascade-picker-mask {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.rt-cascade-picker-dialog {
    position: fixed;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    right: 0;
    height: 66%;
}

.rt-cascade-picker-dialog ._header {
    padding: 15px;
    text-align: center;
    font-size: 16px;
    color: #888888;
}

.rt-cascade-picker-dialog ._indicator {
    display: block;
    padding: 0 15px;
    border-bottom: 1px solid $rt-border-color;
}

.rt-cascade-picker-dialog ._indicator-item {
    padding: 0 0 4px 0;
    display: inline-block;
    color: $rt-gray-darker;
    border-bottom: solid 1px transparent;
}

.rt-cascade-picker-dialog ._indicator-item+._indicator-item {
    margin-left: 20px;
}

.rt-cascade-picker-dialog ._indicator-item.selected {
    color: $rt_primary;
    border-bottom-color: $rt-primary;
}

.rt-cascade-picker-dialog ._slider {
    position: absolute;
    top: 83px;
    left: 0;
    right: 0;
    bottom: 0;
}

.rt-cascade-picker-dialog ._data-container {
    padding: 10px 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.rt-cascade-picker-dialog ._data-item {
    padding: 10px 15px;
}

.rt-cascade-picker-dialog ._data-item.selected {
    color: $rt-primary;
}

.rt-cascade-picker-dialog ._data-item i {
    display: none;
}

.rt-cascade-picker-dialog ._data-item.selected i {
    display: initial;
}
