@charset "UTF-8";

/*=======================================
表单样式
=========================================
*/

.rt-form {
    display: block;
    margin-top: $rt-space-large;
    position: relative;
}

.rt-form:after,
.rt-form:before {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    color: $rt-border-color;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.rt-form:before {
    top: 0;
    border-top: 1px solid $rt-border-color;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.rt-form:after {
    bottom: 0;
    border-bottom: 1px solid $rt-border-color;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.rt-section+.rt-form {
    margin-top: 0px;
}


/**********************表单单行**********************/

.rt-form-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    zoom: 1;
    width: 100%;
    background-color: #ffffff;
}

.rt-form-row:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 15px;
    width: 100%;
    height: 1px;
    border-top: 1px solid $rt-divider-color;
    color: $rt-divider-color;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.rt-form-row:first-child:before {
    display: none
}

.rt-form-row .ion-ios-arrow-right {
    font-size: 14px;
    color: $rt-gray;
}

.rt-form-row ._input-label {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: $rt-form-row-label-width;
    color: $rt-gray-dark;
    padding-right: $rt-space-small;
}


/**********************只读文本**********************/

.rt-form-row.rt-form-row-readonly {
    padding: 12px 15px;
    background-color: white;
}

.rt-form-row.rt-form-row-readonly ._input-readonly {
    width: $rt-form-row-input-width;
    float: left;
    /*字段值距离左边标签的距离*/
    color: $rt-gray-darker;
}


/**********************单行文本**********************/

.rt-form-row.rt-form-row-input {
    padding: 5px 15px;
}

.rt-form-row.rt-form-row-input ._input-text {
    padding: 0;
    border: 0;
    float: right;
    color: $rt-gray-darker;
    width: $rt-form-row-input-width;
}


/**********************多行文本**********************/

.rt-form-row.rt-form-row-textarea {
    padding: 15px 15px;
}

.rt-form-row.rt-form-row-textarea ._input-textarea {
    padding: 0;
    float: right;
    color: $rt-gray-darker;
    width: $rt-form-row-input-width;
    min-height: 60px;
}


/**********************  开关  **********************/

.rt-form-row.rt-form-toggle {
    padding: 4px 15px 4px 15px;
}

.rt-form-row.rt-form-toggle ._input-toggle {
    float: right;
    width: $rt-form-row-input-width;
}

.rt-form-row.rt-form-toggle ._input-toggle .toggle {
    top: 2px;
}


/**********************日期和时间**********************/

.rt-form-row.rt-form-row-date {
    padding: 9px 15px;
}

.rt-form-row.rt-form-row-date ._input-date {
    padding: 0;
    float: right;
    color: $rt-gray-darker;
    width: $rt-form-row-input-width;
    position: relative;
}

.rt-form-row.rt-form-row-date ._input-date i {
    margin-top: 4px;
    float: right;
}

.rt-form-row.rt-form-row-date ._input-date input {
    border: none;
    color: $rt-gray-darker;
    position: absolute;
    width: 100%;
    margin-top: -3px;
    background-color: transparent;
}


/**********************下拉框**********************/

.rt-form-row.rt-form-row-select {
    padding: 12px 15px 9px 15px;
}

.rt-form-row.rt-form-row-select ._input-select {
    padding: 0;
    float: right;
    position: relative;
    color: $rt-gray-darker;
    width: $rt-form-row-input-width;
}

.rt-form-row.rt-form-row-select ._input-select i {
    margin-top: 1px;
    float: right;
}

.rt-form-row.rt-form-row-select ._input-select select {
    width: 100%;
    position: absolute;
    padding-top: 2px;
    padding-right: 15px;
    border: none;
    background-color: transparent;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}


/**********************查找**********************/

.rt-form-row.rt-form-row-lookup {
    padding: 9px 15px;
}

.rt-form-row.rt-form-row-lookup ._input-lookup {
    padding: 0;
    float: right;
    color: $rt-gray-darker;
    width: $rt-form-row-input-width;
    position: relative;
}

.rt-form-row.rt-form-row-lookup ._input-lookup input {
    border: none;
    color: $rt-gray-darker;
    position: absolute;
    width: 100%;
    margin-top: -3px;
    padding-right: 10px;
}

.rt-form-row.rt-form-row-lookup ._input-lookup i {
    margin-top: 4px;
    float: right;
}

.rt-form-row-2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.rt-form-row-2 + .rt-form-row-2 {
    margin-top: 0;
}

.rt-form-row-2 ._input-label {
    color: $rt-gray-darker;
    margin-bottom: $rt-space-smaller;
}

.rt-form-row-2 ._input-label ._require {
    color: red;
    margin-left: 5px;
}

.rt-form-row-2 ._input-label ._tips {
    margin-left: $rt-space-small;
    font-size: $rt-font-smaller;
    color: $rt-gray-dark;
}


/**********************只读文本**********************/

.rt-form-row-2.rt-form-row-readonly {
    padding: 0 $rt-space-large;
}

.rt-form-row-2.rt-form-row-readonly ._input-readonly {
    margin-top: 3px;
    display: block;
    min-height: 20px;
}


/**********************单行文本**********************/

.rt-form-row-2.rt-form-row-input {
    padding: 0 $rt-space-large;
}

.rt-form-row-2.rt-form-row-input ._input-text {
    width: 100%;
}


/**********************多行文本**********************/

.rt-form-row-2.rt-form-row-textarea {
    padding: 0 $rt-space-large;
}

.rt-form-row-2.rt-form-row-textarea ._input-textarea {
    width: 100%;
    min-height: 60px;
    border: 1px solid $rt-border-color;
    padding-top: 5px;
    padding-bottom: 5px;
}


/**********************下拉框**********************/

.rt-form-row-2.rt-form-row-select {
    padding: 0 $rt-space-large;
}

.rt-form-row-2.rt-form-row-select ._input-select {
    position: relative;
}

.rt-form-row-2.rt-form-row-select ._input-select i {
    position: absolute;
    right: 10px;
    top: 9px;
}

.rt-form-row-2.rt-form-row-select ._input-select select {
    width: 100%;
    color: $rt-gray-darker;
    border: 1px solid $rt-border-color;
    border-radius: $rt-radius;
    padding: 6px 0 5px 1px;
    background-color: #ffffff;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}


/**********************日期和时间**********************/

.rt-form-row-2.rt-form-row-date {
    padding: 0 $rt-space-large;
}

.rt-form-row-2.rt-form-row-date ._input-date {
    position: relative;
}

.rt-form-row-2.rt-form-row-date ._input-date input {
    width: 100%;
    color: $rt-gray-darker;
    border: 1px solid $rt-border-color;
    border-radius: $rt-radius;
    padding: 8px 5px 0 5px;
}

.rt-form-row-2.rt-form-row-date ._input-date i {
    position: absolute;
    right: 10px;
    top: 9px;
}


/**********************查找**********************/

.rt-form-row-2.rt-form-row-lookup {
    padding: 0 $rt-space-large;
}

.rt-form-row-2.rt-form-row-lookup ._input-lookup {
    position: relative;
}

.rt-form-row-2.rt-form-row-lookup ._input-lookup input[type="text"] {
    width: 100%;
    color: $rt-gray-darker;
    border: 1px solid $rt-border-color;
    border-radius: $rt-radius;
    padding: 0 $rt-space-smaller;
}

.rt-form-row-2.rt-form-row-lookup ._input-lookup i {
    position: absolute;
    right: 10px;
    top: 9px;
}

.rt-form-row input[disabled],
.rt-form-row select[disabled],
.rt-form-row textarea[disabled] {
    background-color: transparent !important;
    opacity: 1;
    color: $rt-gray-darker !important;
}

.rt-form-row input[readonly],
.rt-form-row select[readonly],
.rt-form-row textarea[readonly] {
    background-color: transparent !important;
    color: $rt-gray-darker !important;
}

.rt-form-row-2 input[type="text"],
.rt-form-row-2 input[type="password"],
.rt-form-row-2 input[type="number"],
.rt-form-row-2 input[type="email"],
.rt-form-row-2 input[type="url"],
.rt-form-row-2 input[type="date"],
.rt-form-row-2 input[type="datetime"],
.rt-form-row-2 textarea {
    -webkit-appearance: none;
    color: $rt-gray-darker;
    border: 1px solid $rt-border-color;
    border-radius: $rt-radius;
    padding: 0 $rt-space-smaller;
}

.rt-form-row-2 input[disabled],
.rt-form-row-2 select[disabled],
.rt-form-row-2 textarea[disabled] {
    background-color: $rt-gray-lightest !important;
    opacity: 1;
    color: $rt-gray-darker !important;
}

.rt-form-row-2 input[readonly],
.rt-form-row-2 select[readonly],
.rt-form-row-2 textarea[readonly] {
    background-color: #ffffff !important;
    color: $rt-gray-darker !important;
}
