@charset "UTF-8";

/*=======================================
筛选器的样式
=========================================
*/

.rt-filter-view {
    position: fixed;
    top: $rt-nav-bar-height;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    overflow: auto;
}

.rt-filter-view ._mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
}

.rt-filter-view ._content {
    position: relative;
    background-color: #ffffff;
}

.rt-filter-view ._footer {
    position: relative;
    background-color: #ffffff;
}
