@charset "UTF-8";

/*=======================================
搜索框样式
=========================================
*/

.rt-search-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    padding: 10px;
}

.rt-search-bar ._input-wrapper {
    -webkit-flex: 1 0;
    -moz-flex: 1 0;
    -ms-flex: 1 0;
    flex: 1 0;
    position: relative;
}

.rt-search-bar ._input-wrapper input {
    width: 100%;
    padding: 2px 25px 0 30px;
    border-radius: 15px;
    font-size: 14px;
    height: 30px;
    -webkit-appearance: none;
}

.rt-search-bar ._input-wrapper .ion-ios-search {
    position: absolute;
    top: 3px;
    left: 8px;
    font-size: 16px;
    color: #aaa;
}

.rt-search-bar ._input-wrapper .ion-close-circled {
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 16px;
    right: 0px;
    padding: 3px 10px;
    color: #ccc;
}

.rt-search-bar ._button-search {
    color : $rt-primary;
    border: 0;
    font-size: 14px;
    background: none;
    padding: 0 0 0 10px;
}