@charset "UTF-8";

/*=======================================
缩略图样式
=========================================
*/

.rt-thumbnails {
    padding: 14px 0 0 14px;
    border-top: 1px solid $rt-border-color;
    border-bottom: 1px solid $rt-border-color;
    background-color: white;
    *zoom: 1;
    width: 100%;
}

.rt-thumbnails:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}

.rt-thumbnail,
.rt-choose-image {
    border: 1px solid $rt-gray-lighter;
    float: left;
    margin-right: $rt-space-large;
    margin-bottom: $rt-space-large;
    width: $rt-thumbnail-width;
    height: $rt-thumbnail-height;
    line-height: 0;
    display: flex;
    align-items: center;
    zoom: 1;
}

.rt-thumbnail:first-child {
    margin-left: 0;
}

.rt-thumbnail img {
    width: 100%;
    height: 100%;
}

.rt-choose-image {
    border: 0;
}
