@charset "UTF-8";

/*============================================
选项卡,TAB
============================================*/

.rt-tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    width: 100%;
}

.rt-tabs .rt-tab {
    display: block;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.rt-tabs.rt-tabs-default{
    background-color: #ffffff;
}

.rt-tabs.rt-tabs-default .rt-tab a {
    display:block;
    color: $rt-gray-darker;
    padding: 13px 0 8px 0;
    margin: 0 $rt-space-small;
    border-bottom: 3px solid transparent;
    background-color: #ffffff;
}

.rt-tabs.rt-tabs-default .rt-tab.active a {
    color: $rt-primary !important;
    border-bottom: 3px solid $rt-negative !important;
}

.rt-tabs.rt-tabs-inline{
    background-color: #ffffff;
}

.rt-tabs.rt-tabs-inline .rt-tab a {
    display:inline-block;
    color: $rt-gray-darker;
    padding: 13px 0 8px 0;
    margin: 0 $rt-space-small;
    border-bottom: 3px solid transparent;
    background-color: #ffffff;
}

.rt-tabs.rt-tabs-inline .rt-tab.active a {
    color: $rt-primary !important;
    border-bottom: 3px solid $rt-negative !important;
}

.rt-tabs.rt-tabs-outline {
    background-color: transparent !important;
    padding-left: 15px;
    padding-right: 15px;
}

.rt-tabs.rt-tabs-outline .rt-tab {
    border: 1px solid $rt-primary;
    background-color: #ffffff;
    padding: 8px 35px 5px 35px;
}

.rt-tabs.rt-tabs-outline .rt-tab:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.rt-tabs.rt-tabs-outline .rt-tab:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.rt-tabs.rt-tabs-outline .rt-tab.active {
    background-color: $rt-primary !important;
    color: #ffffff !important;
}
