@charset "UTF-8";

/*============================================
标签的样式
============================================*/

.rt-tags {
    background-color: white;
    border-color: $rt-primary;
    color: $rt-gray-darker;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.rt-tags-selected {
    background-color: $rt-primary;
    border-color: $rt-primary;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.rt-tags.activated {
    background-color: white;
    border-color: $rt-primary;
    color: $rt-gray-darker;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.rt-tags-selected.activated {
    background-color: $rt-primary;
    border-color: $rt-primary;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.rt-tags:hover {
    background-color: white;
    border-color: $rt-primary;
    color: $rt-gray-darker;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.rt-tags-selected:hover {
    background-color: $rt-primary;
    border-color: $rt-primary;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
