@charset "UTF-8";

/*=======================================
常量
=========================================
*/

// Colors
//----------------------------------
$rt-gray-darkest         : #222222 !default;
$rt-gray-darker          : #555555 !default;
$rt-gray-dark            : #888888 !default;
$rt-gray                 : #cccccc !default;
$rt-gray-light           : #f0f0f0 !default;
$rt-gray-lighter         : #f3f3f3 !default;
$rt-gray-lightest        : #f8f8f8 !default;
$rt-primary              : #0099ff !default;
$rt-negative             : #ff8e00 !default;
$rt-calm                 : #2ec7c9 !default;
$rt-balanced             : #33bc98 !default;
$rt-assertive            : #ff4242 !default;
$rt-royal                : #b6a2de !default;
$rt-positive             : #9bc800 !default;
$rt-energized            : #ffc800 !default;
$rt-border-color         : $rt-gray-light;
$rt-divider-color        : $rt-gray-lighter;

//Fonts
//----------------------------------
$rt-font-larger          : 22px;
$rt-font-large           : 17px;
$rt-font-normal          : 14px;
$rt-font-small           : 12px;
$rt-font-smaller         : 10px;
$rt-font-family-chinese  : 苹方;
$rt-font-family-english  : San Francisco;

//Spaces
//----------------------------------
$rt-space-larger         : 21px;
$rt-space-large          : 15px;
$rt-space-small          : 10px;
$rt-space-smaller        : 5px;
$rt-form-row-label-width : 34%;
$rt-form-row-input-width : 66%;
$rt-thumbnail-width      : 60px;
$rt-thumbnail-height     : 60px;
$rt-tab-block-radius     : 15px;
$rt-radius               : 3px;
$rt-nav-bar-height       : 44px;