.home-page {
    width: 100%;
	height: 100%;
    background-color: #202020;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}
.top {
    padding-top: 12rem;
    font-size: 10rem;
    text-align: center;
    color: #ac9455;
    font-family: snell roundhand, French Script MT;
    display: inline-flex;
    display: -webkit-inline-flex;
    justify-content: center;
    -webkit-justify-content: center;
    flex-grow: 1;
    font-family: snell roundhand, French Script MT;
}
div.top div {
    font-family: snell roundhand, French Script MT;
}
.underline-flex {
    display: inline-flex;
    display: -webkit-inline-flex;
    justify-content: center;
    -webkit-justify-content: center;
    flex-grow: 1;
}
.underline {
    height: 0.2rem;
    width: 6rem;
    background-color: #767676;
}
.top-three {
    display: inline-flex;
    display: -webkit-inline-flex;
    justify-content: center;
    -webkit-justify-content: center;
    flex-grow: 2;
}
.top-page-none {
    height: 25rem;
    width: 36rem;
    cursor: pointer;
}
.top-page-one {
    height: 25rem;
    width: 36rem;
    cursor: pointer;
    border: 1px solid #767676;
    box-shadow: #767676 0px 0px 6px;
}
.top-page-one:hover {
    background-color: rgba(72, 188, 255, 0.05);
}
.top-page-two {
    height: 25rem;
    width: 36rem;
    cursor: pointer;
    border: 1px solid #767676;
    box-shadow: #767676 0px 0px 6px;
}
.top-page-two:hover {
    background-color: rgba(72, 188, 255, 0.05);
}
div.top-page-two:first-child {
    transform: matrix3d(1, 0, 0, 0.0006, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
div.top-page-two:first-child:hover {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
div.top-page-two:last-child {
    transform: matrix3d(1, 0, 0, -0.0006, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
div.top-page-two:last-child:hover {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
div.top-page-two + div.top-page-two {
    margin-left: 10rem !important;
}
.top-page-three {
    height: 25rem;
    width: 36rem;
    cursor: pointer;
    border: 1px solid #767676;
    box-shadow: #767676 0px 0px 6px;
}
.top-page-three:hover {
    background-color: rgba(72, 188, 255, 0.05);
}
div.top-page-three:first-child {
    transform: matrix3d(1, 0, 0, 0.0006, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
div.top-page-three:first-child:hover {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
div.top-page-three:last-child {
    transform: matrix3d(1, 0, 0, -0.0006, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
div.top-page-three:last-child:hover {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
div.top-page + div.top-page {
    margin-left: 6rem;
}
.page-icon {
    text-align: center;
    margin-top: 2rem;
}
.page-title {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: #fff;
    font-size: 1.8rem;
    font-family: SimHei;
}
.page-abstract {
    text-align: center;
    font-size: 1.4rem;
    font-family: SimHei;
    color: #767676;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.top-page:hover .page-abstract {
    color: #a3a3a3;
}
.look-more {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 1.4rem;
    color: #767676;
    cursor: pointer;
    transform: rotateY(0deg);
    transition: transform 1s;
    display: flex;
    display: -webkit-flex;
    justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
}
.look-more:hover {
    color: #a3a3a3;
    transform: rotateY(180deg);
    transition: transform 1s;
}
.arrow-left {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAZCAYAAADaILXQAAABGklEQVRIie3WTyuEURTH8TMrL8ALUEpZKAtlQywkarIgKWOBUsrGxs7GxtI78hK8BpQsTBbkTwbjYzHX9DTNn+cxdubW2Zxzz/d3731Ov54SShGxHxEXKf5ilSNiKDCMDzxhBtFn7OILlz+JCj7xgOk+wFtZTrawg3oqTP0CvJHAzRdo3bCXrnSPyQLgNbzjBXM/+XYbD5JAFRM5wCuoJfBCttap4VBj3WG8C3g5gd+w1FrvdqKjJHCLsTb1RbwmeLkdo9eVj5PADUYz+fn0DDWsdurP87FOksA1RjCLZ43JWO/Wm3caTpPAFR4TeLNXX5E5PksCdWzn6Skp5i2ViKhGxPnAW/LGwFuaMfCW/+YtRf5H8npLRER8A1/wYe300USlAAAAAElFTkSuQmCC) center center/12px auto no-repeat;
    width: 4rem;
    height: 4rem;
    transform: rotateZ(90deg);
}
.arrow-right {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAZCAYAAADaILXQAAABGklEQVRIie3WTyuEURTH8TMrL8ALUEpZKAtlQywkarIgKWOBUsrGxs7GxtI78hK8BpQsTBbkTwbjYzHX9DTNn+cxdubW2Zxzz/d3731Ov54SShGxHxEXKf5ilSNiKDCMDzxhBtFn7OILlz+JCj7xgOk+wFtZTrawg3oqTP0CvJHAzRdo3bCXrnSPyQLgNbzjBXM/+XYbD5JAFRM5wCuoJfBCttap4VBj3WG8C3g5gd+w1FrvdqKjJHCLsTb1RbwmeLkdo9eVj5PADUYz+fn0DDWsdurP87FOksA1RjCLZ43JWO/Wm3caTpPAFR4TeLNXX5E5PksCdWzn6Skp5i2ViKhGxPnAW/LGwFuaMfCW/+YtRf5H8npLRER8A1/wYe300USlAAAAAElFTkSuQmCC) center center/12px auto no-repeat;
    width: 4rem;
    height: 4rem;
    transform: rotateZ(-90deg);
}