<ion-view title="Channing Kuo" hide-nav-bar="true">
    <style>
       .activated .wx-camera{
          color: red;
       }
    </style>
    <ion-nav-buttons side="right">
      <button class="button button-clear button-icon icon-right ion-ios-eye-outline" ng-click="check()"></button>
    </ion-nav-buttons>
    <ion-content>
      <rt-section rt-title="Number Badge"></rt-section>
      <rt-badge-number rt-badge-num="0" rt-badge-title="Badge Number is Zero"></rt-badge-number>
      <rt-badge-number rt-badge-num="3" rt-badge-title="Badge"></rt-badge-number>
      <rt-badge-number rt-badge-num="23" rt-badge-title="Badge"></rt-badge-number>
      <rt-badge-number rt-badge-num="233" rt-badge-title="Badge"></rt-badge-number>
      <rt-badge-number rt-badge-num="2333" rt-badge-title="Badge"></rt-badge-number>

      <rt-section rt-title="微信朋友圈Cell"></rt-section>
      <rt-badge-with-image rt-badge-img="component/img/four.png" rt-badge-title="Badge With Image"></rt-badge-with-image>
      <rt-badge-with-image rt-badge-img="" rt-badge-title="Badge With Image Is Null"></rt-badge-with-image>

      <rt-section rt-title="Spot Badge"></rt-section>
      <rt-badge-with-spot rt-badge-spot="spot" rt-badge-title="Badge With Spot"></rt-badge-with-spot>
      <rt-badge-with-spot rt-badge-spot="" rt-badge-title="Badge With No Spot"></rt-badge-with-spot>

      <rt-section rt-title="Image Number Badge"></rt-section>
      <rt-badge-with-image-number rt-badge-img-num="3" rt-badge-img="component/img/1.png" rt-badge-title="Image Badge With Num" rt-badge-content="Back off, man. I'm a scientist."></rt-badge-with-image-number>
      <rt-badge-with-image-number rt-badge-img-num="23" rt-badge-img="component/img/2.png" rt-badge-title="Image Badge With Num" rt-badge-content="Back off, man. I'm a scientist."></rt-badge-with-image-number>
      <rt-badge-with-image-number rt-badge-img-num="233" rt-badge-img="component/img/3.png" rt-badge-title="Image Badge With Num" rt-badge-content="Back off, man. I'm a scientist."></rt-badge-with-image-number>
      <rt-badge-with-image-number rt-badge-img-num="2333" rt-badge-img="component/img/four.png" rt-badge-title="Image Badge With Num" rt-badge-content="Back off, man. I'm a scientist."></rt-badge-with-image-number>
      <rt-badge-with-image-number rt-badge-img-num="0" rt-badge-img="component/img/5.png" rt-badge-title="Image Badge With Num Is Zero" rt-badge-content="We're gonna go full stream"></rt-badge-with-image-number>

      <rt-section rt-title="Image Spot Badge"></rt-section>
      <rt-badge-with-image-spot rt-badge-img-spot="imageSpot" rt-badge-img="component/img/6.png" rt-badge-title="Image Badge With Spot" rt-badge-content="Back off, man. I'm a scientist."></rt-badge-with-image-spot>
      <rt-badge-with-image-spot rt-badge-img-spot="" rt-badge-img="component/img/7.png" rt-badge-title="Image Badge With No Spot" rt-badge-content="We're gonna go full stream"></rt-badge-with-image-spot>

      <rt-section rt-title="Badge"></rt-section>
      <ion-item class="item item-icon-right">
         <i class="icon ion-ios-arrow-right" style="font-size: 20px;"></i>
         <rt-badge rt-badge-num="4" style="float: right;position: absolute;right: 40px;top: 18px;"></rt-badge>
         Badge
      </ion-item>
      <ion-item class="item item-icon-right">
         <i class="icon ion-ios-arrow-right" style="font-size: 20px;"></i>
         <rt-badge style="float: right;position: absolute;right: 40px;top: 23px;"></rt-badge>
         Badge
      </ion-item>
      <ion-item class="item item-icon-right">
         <i class="icon ion-ios-arrow-right" style="font-size: 20px;"></i>
         <rt-badge rt-badge-num="45" style="float: right;position: absolute;right: 40px;top: 18px;"></rt-badge>
         Badge
      </ion-item>
      <ion-item class="item item-icon-right">
         <i class="icon ion-ios-arrow-right" style="font-size: 20px;"></i>
         <rt-badge rt-badge-num="467" style="float: right;position: absolute;right: 40px;top: 18px;"></rt-badge>
         Badge
      </ion-item>
      <ion-item class="item item-icon-right">
         <i class="icon ion-ios-arrow-right" style="font-size: 20px;"></i>
         <rt-badge is-spot-style="true" style="float: right;position: absolute;right: 42px;top: 23px;"></rt-badge>
         Badge
      </ion-item>

      <rt-section rt-title="微信拍照"></rt-section>
      <ion-item>
         <div class="rt-choose-image" ng-click="choosePhotoes()">
            <i style="font-size: 80px;" class="ion-ios-camera-outline wx-camera"></i>
         </div>
         <div class="rt-thumbnail" ng-repeat="pic in wx.ScenePhotoes">
            <img class="thumbnail" ng-src="{{pic}}" ng-click="previewImage(pic, $index)" />
         </div>
      </ion-item>
      <rt-section ng-if="isVisible" rt-title="照片的ServerId"></rt-section>
      <ion-item ng-if="isVisible">
         <div ng-repeat="sid in wx.ServerId">{{sid}}</div>
      </ion-item>
    </ion-content>
</ion-view>
