<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<title>Ionic3 + Angular5图片懒加载</title>
	</head>
<body>
<h3><em>Ionic3</em> +<em> Angular5</em>图片懒加载</h3>

<blockquote>
<p>废话不多说，网上找不到一个比较完整的Demo，就自己写了一个(<em>Ionic3</em>和单独的<em>Angular5</em>项目都适用)。</p>
</blockquote>

<p>可以先按照<em>ionic</em>官网上新建一个空项目或者<em>tabs</em>项目，随意！接着新建一个自定义组件和一个自定义指令，文件内容参考下面代码即可。</p>

<hr />

<p>imglazyload.component.ts</p>

<pre><code>// imglazyload.component.ts
import { Component, Input, ElementRef, Renderer2 } from &#39;@angular/core&#39;;

@Component({
 selector: &#39;img-lazy-load&#39;,
 styles: [`
	.img-spinner {
	  display: flex;
	  display: -webkit-flex;
	  -webkit-justify-content: center;
	  justify-content: center;
	  -webkit-justify-content: center;
	  align-items: center;
	  -webkit-align-items: center;
	  width: 100%;
	  height: 100%;
	  background-color: #eee;
	}
 `],
 template: `
	&lt;img alt=&quot;&quot; /&gt;
	&lt;div *ngIf=&quot;!isLoaded&quot; class=&quot;img-spinner&quot;&gt;
	  &lt;img [src]=&quot;spinnerImg&quot; /&gt;
	&lt;div&gt;
 `
})
export class ImgLazyloadComponent {
 // 图片资源
 @Input(&#39;src&#39;) src: string;
 // 自定义spinner图片
 @Input(&#39;spinner&#39;) spinner: string;
 // 设置默认的距离——img-lazy-load标签距离底部的距离(达到这个距离时开始加载图片)
 @Input(&#39;offset&#39;) offset: number;

 // 默认的spinner为spinner.gif
 private spinnerImg: string = &#39;assets/imgs/spinner.gif&#39;;

 constructor(private el: ElementRef, private renderer: Renderer2) { }

 /**
  * 组件初始化的生命周期钩子——初始化
  * @memberof LazyloadComponent
  */
 ngOnInit() {
	if (this.offset === undefined || this.offset === null) {
	  this.offset = (this.el.nativeElement as Element).clientHeight;
	}
	this.renderer.setProperty(this.el.nativeElement, &#39;data.offset&#39;, this.offset);

	this.renderer.setProperty(this.el.nativeElement, &#39;src&#39;, this.src);

	if (this.spinner !== undefined &amp;&amp; this.spinner !== &#39;&#39; &amp;&amp; this.spinner !== null) {
	  this.spinnerImg = this.spinner;
	}
 }
}
</code></pre>

<p>scroll.directive.ts</p>

<blockquote>
<p>特别说明一点在<em>Ionic</em>项目中默认给ion-content组件里的div. ion-content添加页面滚动监听；若是在Angular项目中可以把指令添加到想要监听的标签上即可！</p>
</blockquote>

<pre><code>// scroll.directive.ts
import { Directive, ElementRef, Renderer2 } from &#39;@angular/core&#39;;

@Directive({
 selector: &#39;[img-lazy-load-scroll]&#39;
})

export class ScrollDirective {
 private scrollCallback: (event) =&gt; void;
 private target: HTMLElement | Element;
 private lazyEl: any;
 private offsetHeight: number;

 constructor(private el: ElementRef, private renderer: Renderer2) {
	this.scrollCallback = (event) =&gt; {
	  this.onScroll(event);
	};
 }

 /**
  * 组件初始化的生命周期钩子——初始化
  * @memberof LazyloadComponent
  */
 ngAfterViewInit() {
	this.target = this.el.nativeElement;
	if (this.target.localName === &#39;ion-content&#39;) {
	  this.target = this.target.children[1];
	}
	this.renderer.listen(this.target, &#39;scroll&#39;, this.scrollCallback);
	this.lazyEl = this.target.querySelectorAll(&#39;img-lazy-load&#39;);
	// dom渲染元素需要时间
	setTimeout(() =&gt; {
	  this.onScroll(&#39;&#39;);
	}, 60);
 }

 /**
  * 默认[div.scroll-content]滚动加载图片
  * @param {any} event 
  * @memberof LazyloadDirective
  */
 onScroll(event: any) {
	this.lazyEl.forEach(el =&gt; {
	  // 获取绑定在img-lazy-load标签上的src
	  let imgsrc = el.src;
	  // 设置默认的距离——img-lazy-load标签距离底部的距离(达到这个距离时开始加载图片)
	  this.offsetHeight = el[&#39;data.offset&#39;];

	  let distance = this.target[&#39;scrollTop&#39;] || this.target[&#39;screenY&#39;] || 0;
	  let viewHeight = this.target[&#39;clientHeight&#39;] || this.target[&#39;innerHeight&#39;] || 0;
	  let fold = distance + viewHeight;
	  if (fold &gt;= el.offsetTop + this.offsetHeight) {
		let img = new Image();
		img.src = imgsrc;
		// 通过Image onload加载图片，加载完成后放到真正的img标签上
		img.onload = () =&gt; {
		  if (el.children.lenth === 2) {
			// 去除spinner
			this.renderer.removeChild(el, el.children[1]);
		  }
		  if (el.children[0].src === &#39;&#39; || el.children[0].src === undefined) {
			// 绑定scr
			this.renderer.setProperty(el.children[0], &#39;src&#39;, imgsrc);
		  }
		}
	  }
	});
 }

 /**
  * 组件销毁的生命周期钩子——移除监听事件
  * @memberof LazyloadComponent
  */
 ngOnDestroy() {
	this.target.removeEventListener(&#39;scroll&#39;, this.scrollCallback);
 }
}
</code></pre>

<hr />

<p>然后把组件及指令添加到Module中</p>

<pre><code>import { NgModule } from &#39;@angular/core&#39;;
import { IonicPageModule } from &#39;ionic-angular&#39;;
import { HomePage } from &#39;./home&#39;;
import { ImgLazyloadComponent, ScrollDirective } from &#39;../../components/index&#39;;

@NgModule({
 declarations: [
	HomePage,
	ImgLazyloadComponent,
	ScrollDirective
 ],
 imports: [
	IonicPageModule.forChild(HomePage)
 ],
 entryComponents: [
	HomePage
 ]
})
export class HomePageModule { }
</code></pre>

<p>在需要使用图片懒加载的页面里使用：</p>

<pre><code>&lt;ion-header&gt;
 &lt;ion-navbar&gt;
	&lt;ion-title&gt;Home&lt;/ion-title&gt;
 &lt;/ion-navbar&gt;
&lt;/ion-header&gt;

&lt;ion-content img-lazy-load-scroll&gt;
 &lt;img-lazy-load *ngFor=&quot;let img of imgList&quot; [src]=&quot;img&quot; class=&quot;img-style&quot;&gt;&lt;/img-lazy-load&gt;
&lt;/ion-content&gt;
</code></pre>

<hr />

<p>若有不达之处还请见谅。若有不同实现方式或有什么好想法可以联系我<strong>channingkuo@icloud.com / <a href="https://github.com/channingwei">https://github.com/channingwei</a></strong>，一起学习进步。</p>

<hr />

<h3>问题与改进</h3>

<p>上文实现的图片懒加载中的图片url如果不是通过api网络请求得到，整个流程没有什么问题，可以正常运行，懒加载也运作正常。<strong>一旦</strong>图片url是通过api网络请求得到的，那么懒加载就出现运行不正常了。主要原因是网络请求是异步执行的，得到图片url后Angular后触发双向绑定渲染dom，这时候指令中：</p>

<pre><code> ngAfterViewInit() {
	this.target = this.el.nativeElement;
	if (this.target.localName === &#39;ion-content&#39;) {
	  this.target = this.target.children[1];
	}
	this.renderer.listen(this.target, &#39;scroll&#39;, this.scrollCallback);
	this.lazyEl = this.target.querySelectorAll(&#39;img-lazy-load&#39;);
	// dom渲染元素需要时间
	setTimeout(() =&gt; {
	  this.onScroll(&#39;&#39;);
	}, 60);
 }
</code></pre>

<p>实际Angular还没有渲染懒加载的标签到dom中，所以指令在页面加载的时候就去操作懒加载标签到没法正常得到懒加载标签。（简洁描述就是：指令在dom使用懒加载标签前就去对懒加载标签操作导致无效的bug）</p>

<blockquote>
<p>调整部分代码</p>
</blockquote>

<p>scroll.directive.ts文件中的生命周期钩子调整部分代码</p>

<pre><code>/**
   * 组件初始化的生命周期钩子——初始化
   * @memberof LazyloadComponent
   */
  ngAfterViewInit() {
    this.target = this.el.nativeElement;
    if (this.target.localName === &#39;ion-content&#39;) {
      this.target = this.target.children[2];
    }
    this.renderer.listen(this.target, &#39;scroll&#39;, this.scrollCallback);
    this.timer = setInterval(() =&gt; {
      this.lazyEl = this.target.querySelectorAll(&#39;img-lazy-load&#39;);
      this.onScroll(&#39;&#39;);
    }, 500);

    this.events.subscribe(&#39;pull-down&#39;, isUpToBottom =&gt; {
      if (isUpToBottom) {
        clearInterval(this.timer);
      }
    });
  }
</code></pre>

<p>如果光是这样调整已经可以达到效果了，通过定时器来不断从dom中检测懒加载标签是否完成渲染，一旦完成渲染就开始处理懒加载。这样调整后还可以兼容数据分页操作（上拉加载更多）。<strong><em>定时器不移除掉可能会带来一些小性能问题，所以一般在分页操作加载完所有数据后就把定时器移除。</em></strong></p>

<blockquote>
<p>this.events.publish(&#39;pull-down&#39;, resp.data.count === (this.pageIndex <em> this.pageSize)</em></p>
</blockquote>

<p>可以在数据全部加载完后通过订阅告知指令移除定时器</p>

<h3>问题与再改进</h3>

<p>上面添加订阅过后实现了分页的懒加载，后面测试过程中发现，在无分页的懒加载中如果没有通过订阅移除懒加载会出现<strong>最后一项的图片加载不正确问题(会把上面懒加载中的一项的图片加载在最后一项上面)</strong></p>

<blockquote>
<p>调整部分代码即可解决问题</p>
</blockquote>

<p>scroll.directive.ts文件中的生命周期钩子调整部分代码</p>

<pre><code>/**
   * 组件初始化的生命周期钩子——初始化
   * @memberof LazyloadComponent
   */
  ngAfterViewInit() {
    this.target = this.el.nativeElement;
    if (this.target.localName === &#39;ion-content&#39;) {
      this.target = this.target.children[2];
    }
    this.renderer.listen(this.target, &#39;scroll&#39;, this.scrollCallback);
    this.timer = setInterval(() =&gt; {
      this.lazyEl = this.target.querySelectorAll(&#39;img-lazy-load&#39;);
      this.onScroll(&#39;&#39;);
    }, 500);
// 把订阅部分代码放到页面滚动事件onScroll的最后部分
  }
</code></pre>

<p>scroll.directive.ts文件中的页面滚动事件调整部分代码</p>

<pre><code> /**
  * 默认[div.scroll-content]滚动加载图片
  * @param {any} event 
  * @memberof LazyloadDirective
  */
 onScroll(event: any) {
    var that = this;
    for (var i = 0; i &lt; that.lazyEl.length; i++) {
      var el = that.lazyEl[i];
      // 获取绑定在img-lazy-load标签上的src
      let imgsrc = el.src;
      // 设置默认的距离——img-lazy-load标签距离底部的距离(达到这个距离时开始加载图片)
      this.offsetHeight = el[&#39;data.offset&#39;];

      let distance = this.target[&#39;scrollTop&#39;] || this.target[&#39;screenY&#39;] || 0;
      let viewHeight = this.target[&#39;clientHeight&#39;] || this.target[&#39;innerHeight&#39;] || 0;
      let fold = distance + viewHeight;
      if (fold &gt;= el.offsetTop + this.offsetHeight) {
        let img = new Image();
        img.src = imgsrc;
        // 通过Image onload加载图片，加载完成后放到真正的img标签上
        if (img.complete) {
          if (el.children.length === 2) {
            // 去除spinner
            this.renderer.removeChild(el, el.children[1]);
          }
          if (el.children[0].src === &#39;&#39; || el.children[0].src === undefined) {
            // 绑定scr
            this.renderer.setProperty(el.children[0], &#39;src&#39;, imgsrc);
          }
        } else {
          img.onload = () =&gt; {
            if (el.children.length === 2) {
              // 去除spinner
              this.renderer.removeChild(el, el.children[1]);
            }
            if (el.children[0].src === &#39;&#39; || el.children[0].src === undefined) {
              // 绑定scr
              this.renderer.setProperty(el.children[0], &#39;src&#39;, imgsrc);
            }
          }
        }
      }
    }
    this.events.subscribe(&#39;pull-down&#39;, isUpToBottom =&gt; {
      if (isUpToBottom) {
        clearInterval(this.timer);
      }
    });
  }
</code></pre>

<p>添加兼容FF、IE浏览器部分，添加订阅移除定时器。相应的如果是没有分页的页面在获取所有数据后也需要通过订阅来取消定时器</p>

<blockquote>
<p>this.events.publish(&#39;pull-down&#39;, true)</p>
</blockquote>

</body>
</html>

